:root {
    background-color: #FFFDF9;
}

.entrance {
    width: 30vw;
}

.button {
    border-radius: 1.5rem;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}

