/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer Section */

.footer {
    background: url("./assets/footerbackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 468px) {
    /* Footer Section Tablet Size */
    .footer {
        background: url("./assets/lgfooterbackground.svg");
    }
}

.home-background {
    background: url("./assets/mini-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 520px) {
    /* Footer Section Tablet Size */
    .footer {
        background: url("./assets/home-background.svg");
    }
}
