/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background SVGs */
.footer {
  background-image: url('./assets/footer-bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg::before,
.home-bg::after {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.home-bg::before {
  content: url('./assets/home-bg-top.svg');
  transform: translateY(-80%);
  z-index: -1;
}

.home-bg::after {
  content: url('./assets/home-bg-bottom.svg');
}

@media (min-width: 468px) {
  .footer {
    background-image: url('./assets/footer-bg.svg');
  }

  .home-bg {
    background-image: url('./assets/home-bg.svg');
  }
}
