/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Footer Section */

.footer {
  background-image: url('./assets/footerbackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-background {
  background-image: url('./assets/home-bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 468px) {
  /* Footer Section Tablet Size */
  .footer {
    background-image: url('./assets/lgfooterbackground.svg');
  }

  .home-background {
    background-image: url('./assets/home-bg.svg');
  }
}
